[Unit]
Description=Myztic Daemon
After=network.target

[Service]
Type=forking
GuessMainPID=no
ExecStart=/usr/local/src/myztic/build/release/bin/myzticd --rpc-bind-ip 127.0.0.1 --detach
Restart=always
User=myzticdaemon

[Install]
WantedBy=multi-user.target
