[Unit]
Description=Safex Daemon
After=network.target

[Service]
Type=forking
GuessMainPID=no
ExecStart=/usr/local/src/safexcore/build/release/bin/safexd --rpc-bind-ip 127.0.0.1 --detach
Restart=always
User=safexdaemon

[Install]
WantedBy=multi-user.target
