[Unit]
Description=XPP Daemon
After=network.target

[Service]
Type=forking
GuessMainPID=no
ExecStart=/usr/local/src/privatepay/build/release/bin/privatepayd --rpc-bind-ip 127.0.0.1 --detach
Restart=always
User=xppdaemon

[Install]
WantedBy=multi-user.target
